<%- include('partials/header') %>

    <form action="/" method="post">
       <h1>Weather App</h1>

       <label for="">Email</label>
       <input type="email" placeholder="Enter Your Email" name="username">
       <label for="">Password</label>
       <input type="password" placeholder="Enter Your Password" name="password">
       <button type="submit">Register</button>
       
        <h2>or <a href="/login">Login</a>  </h2>
    </form>

    <%- include('partials/footer') %>    